/* Font-faces start*/
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/roboto-v27-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/roboto-v27-latin_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/roboto-v27-latin_cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/roboto-v27-latin_cyrillic-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/roboto-v27-latin_cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/roboto-v27-latin_cyrillic-regular.svg#Roboto')
      format('svg'); /* Legacy iOS */
}

/* Font-faces end*/
/* Variables start*/
// Colors
$bg-light: #f0f5f8;
$bg-dark: #303234;

$text-light: #f0f5f8;
$text-dark: #000000;

$grey: #858585;
$pink: #fc3e55;

// Max-width
$max-width: 1440px;

// Shadow
$shadow-light-theme: -10px -10px 20px #ffffff,
  10px 10px 20px rgba(0, 0, 0, 0.25);
$shadow-dark-theme: 9px 9px 16px rgba(0, 0, 0, 0.4),
  -9px -9px 16px rgba(73, 73, 73, 0.6);

$shadow-inset-light-theme: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
$shadow-inset-dark-theme: inset 11px 11px 28px #222324,
  inset -11px -11px 28px #3e4144;
/* Variables end*/
/* Mixin start*/
// Breakpoints mixin
@mixin respond-to($breakpoint, $direction) {
  @if $direction == max {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  } @else if $direction == min {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @media ($direction: $breakpoint) {
      @content;
    }
  }
}

/* Mixin end*/
/* Theme mode styles start*/
:root {
  --bg-color: #{$bg-light};
  --text-color: #{$text-dark};
  --shadow: #{$shadow-light-theme};
  --shadow-inset: #{$shadow-inset-light-theme};
}

:root.dark-theme {
  --bg-color: #{$bg-dark};
  --text-color: #{$text-light};
  --shadow: #{$shadow-dark-theme};
  --shadow-inset: #{$shadow-inset-dark-theme};
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #{$bg-dark};
    --text-color: #{$text-light};
    --shadow: #{$shadow-dark-theme};
    --shadow-inset: #{$shadow-inset-dark-theme};
  }

  :root.light-theme {
    --bg-color: #{$bg-light};
    --text-color: #{$text-dark};
    --shadow: #{$shadow-light-theme};
    --shadow-inset: #{$shadow-inset-light-theme};
  }
}

/* Themes mode styles end*/
/* Box model styles start*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Box model styles end*/
/* Mini reset styles start*/
.list,
.fieldset {
  padding: 0;
}

.list {
  list-style: none;
}

.body,
.text,
.list,
.list > li,
.fieldset {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.btn {
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.input {
  font: inherit;
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  appearance: none;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.fieldset {
  border: none;
}

/* Mini reset styles end*/
/* Helpers styles start*/
.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px;
  padding: 0 !important;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important;
  border: 0;

  &:focus {
    top: 5px;
    left: 5px;
    z-index: 100000;
    display: block;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    clip: auto !important;
    clip-path: none;
    font-size: 1em;
    line-height: normal;
    color: #444444;
    text-decoration: none;
    background-color: #eee;
  }
}

.wrap {
  padding-left: calc(((100vw - (100vw - 100%)) - #{$max-width}) / 2);
  padding-right: calc(((100vw - (100vw - 100%)) - #{$max-width}) / 2);

  @include respond-to(calc(#{$max-width} + 40px), max) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Helpers styles end*/
/* Img preload start*/
.img-preload {
  display: none;
}

/* Img preload end*/
/* Typography styles start*/
.body {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  line-height: 21px;
  font-variant: all-small-caps;
  letter-spacing: 2px;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: color 0.25s cubic-bezier(0.39, 0.58, 0.57, 1),
    background-color 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);
}

/* Typography styles end*/
/* App styles start*/
.app {
  display: grid;
  grid-template-rows: [header-start main-start] 1fr [header-end main-end];
  grid-template-columns: [page-left] 1fr [page-right];
  min-height: 100vh;
}

/* App styles end*/
/* Header styles start*/
.header {
  z-index: 1;
  grid-area: header-start / page-left / header-end / page-right;
  display: grid;
  grid-template-areas: 'header';
  padding-top: 30px;
  height: fit-content;

  @include respond-to(500px, max) {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
}

/* Header styles end*/
/* Navigation styles start*/
.nav {
  grid-area: header;
  justify-self: center;
  max-width: 350px;
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: 10px;
  transition: box-shadow 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);

  @include respond-to(900px, max) {
    justify-self: start;
  }

  @include respond-to(650px, max) {
    max-width: 200px;
  }

  &__list {
    display: flex;
    border-radius: 10px;

    &-item {
      flex-basis: 50%;
      flex-grow: 1;
      display: flex;
      text-align: center;
      border-radius: 10px;

      & > .link {
        flex-grow: 1;
        padding: 15px 0;
        color: #{$grey};
        border-radius: 10px;

        &.nav__link--active {
          color: var(--text-color);
          box-shadow: var(--shadow-inset);
          border-radius: 10px;
          transition: box-shadow 0.25s cubic-bezier(0.39, 0.58, 0.57, 1),
            color 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);
        }
      }
    }
  }
}

/* Navigation styles end*/
/* Switchers styles start*/
.switchers-list {
  grid-area: header;
  justify-self: end;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 150px;
  width: 100%;
  border-radius: 10px;
  box-shadow: var(--shadow);
  transition: box-shadow 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);

  @include respond-to(650px, max) {
    max-width: 100px;
    gap: 10px;
  }
}

.switcher {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: box-shadow 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);

  &__input {
    position: absolute;
    width: 1px;
    opacity: 0;
    cursor: pointer;
  }

  &__custom-box {
    display: inline-block;
    flex-basis: 100%;
    border-radius: 50%;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-image 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);
  }

  &.lang {
    box-shadow: none;
    .switcher__custom-box {
      background-image: url('../assets/icons/flags/united-kingdom.svg');
      border-radius: 0;
    }

    .switcher__input:checked ~ .switcher__custom-box {
      background-image: url('../assets/icons/flags/russia.svg');
    }
  }

  &.theme {
    .switcher__custom-box {
      background-image: url('../assets/icons/theme-modes/light-mode.svg');
    }

    .switcher__input:checked ~ .switcher__custom-box {
      background-image: url('../assets/icons/theme-modes/dark-mode.svg');
    }
  }
}

/* Switchers styles end*/
/* Main styles start*/
.main {
  grid-area: main-start / page-left / main-end / page-right;
}

/* Main styles end*/
/* Clock styles start*/
.main__clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 50px;
}

.clock {
  position: relative;
  max-width: 400px;
  width: 100%;
  font-size: 42px;
  line-height: 100%;
  border-radius: 50%;
  box-shadow: var(--shadow);
  transition: box-shadow 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &__number {
    position: absolute;

    &.twelve {
      top: 2%;
      left: 50%;
      transform: translateX(-50%);
    }

    &.three {
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
    }

    &.six {
      bottom: 2%;
      left: 50%;
      transform: translateX(-50%);
    }

    &.nine {
      top: 50%;
      left: 2%;
      transform: translateY(-50%);
    }
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.8em;
    height: 3px;
    background-color: var(--text-color);
    opacity: 0.62;
    transform-origin: 0 center;
    transition: background-color 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);

    @include respond-to(500px, max) {
      display: none;
    }
  }

  &__center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    width: 4%;
    background-color: var(--bg-color);
    border-radius: 50%;
    box-shadow: var(--shadow);
    transform: translate(-50%, -50%);
    transition: background-color 0.25s cubic-bezier(0.39, 0.58, 0.57, 1),
      box-shadow 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);

    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  &__hour-hand {
    position: absolute;
    top: 50%;
    left: calc(50%);
    width: 32%;
    height: 3px;
    background-color: var(--text-color);
    border-radius: 45px;
    transform-origin: 0 center;
    transform: rotate(90deg);
    transition: background-color 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);
  }

  &__minute-hand {
    position: absolute;
    top: 50%;
    left: calc(50%);
    width: 43%;
    height: 2px;
    background-color: var(--text-color);
    border-radius: 45px;
    transform-origin: 0 center;
    transform: rotateZ(45deg);
    transition: background-color 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);
  }

  &__second-hand {
    position: absolute;
    top: 50%;
    left: calc(50% - 30px);
    width: 50%;
    height: 1px;
    background-color: #{$pink};
    border-radius: 45px;
    transform-origin: 30px center;
  }
}

/* Clock styles end*/
/* Digital clock styles start*/
.dig-clock-date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.digital-clock {
  padding: 10px 20px;
  font-size: 44px;
  line-height: 100%;
  border-radius: 30px;
  box-shadow: var(--shadow-inset);
  transition: box-shadow 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);

  @include respond-to(500px, max) {
    font-size: 38px;
  }
}

/* Digital clock styles end*/
/* Date styles start*/
.date {
  padding: 18px 5px 5px;
  text-transform: capitalize;
}

/* Date styles end*/
/* Timer styles start*/
.main__timer {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.timer__form {
  max-width: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 5%;
  border-radius: 10px;
  box-shadow: var(--shadow);
  transition: box-shadow 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);

  @include respond-to(1300px, max) {
    max-width: 80%;
  }

  .timer__fieldset {
    @include respond-to(800px, max) {
      width: 100%;
    }
  }

  .timer__btn {
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: box-shadow 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);
  }

  .timer__output {
    font-size: 70px;
  }
}

.timer__list {
  display: flex;
  justify-content: center;
  gap: 15px;

  @include respond-to(800px, max) {
    justify-content: space-between;
  }

  @include respond-to(550px, max) {
    flex-direction: column;
    align-items: center;
  }

  .timer__item {
    display: flex;
    align-items: center;
    box-shadow: var(--shadow);
    transition: box-shadow 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);

    @include respond-to(800px, max) {
      display: grid;
      grid-template-areas: 'label label' 'input btns';
      flex-basis: calc(100% / 3);
    }

    @include respond-to(550px, max) {
      width: 65%;
    }

    @include respond-to(420px, max) {
      width: 95%;
    }

    &-label {
      padding: 0 10px;

      @include respond-to(800px, max) {
        grid-area: label;
      }
    }

    .timer__input {
      text-shadow: inherit;
      color: inherit;
      box-shadow: var(--shadow-inset);
      transition: box-shadow 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);

      @include respond-to(800px, max) {
        grid-area: input;
      }
    }
  }

  .timer__btns-wrap {
    display: flex;
    flex-direction: column;

    @include respond-to(800px, max) {
      grid-area: btns;
    }

    .timer__input-btn {
      padding: 2px 10px;
    }
  }
}

/* Timer styles end*/
